

.span4 {
	grid-column: span 4;
	height: 75px;
}

.span1 {
	grid-column: span 1;
}

.span3 {
	grid-column: span 3;
}

.calcDisplay {
	width: 400px;
	height: 150px;
	text-align: right;
	font-size: 24px;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(4, 1fr);
	}

.calcKeys{
	width: 400px;
	height: 300px;
	display: grid;
	grid-template: repeat(5, 1fr) / repeat(4, 1fr);

}

.wide{
	grid-column: span 2
}